@model WebChat.Models.AgentViewModel

@{
    ViewBag.Title = "Index";
}

<h2>@Model.Name</h2>
<input type="hidden" id="agentname" value="@Model.Name" />

<table border="1">
    <thead>
        <tr>
            <th>Chat List</th>
            <th>Current Chat</th>
        </tr>
        <tr>
            <td>
                <ul id="clients"></ul>
            </td>
            <td>
                <div id="chatBody">
                    <div id="header"></div>
                    <div id="chatroom"></div>
                    <div id="inputForm">
                        <input type="text" id="message" />
                        <input type="button" id="sendmessage" value="Отправить" />
                    </div>
                </div>
            </td>
        </tr>
    </thead>
</table>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/Agent.js"></script>
